<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="TestLog" filename = "src/main/resources/testLog.txt" append = "false">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %class.%method{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="TestLog"/>
        </Root>
    </Loggers>
</Configuration>